<?php

declare(strict_types=1);

use Org_Heigl\KeyPrinter\LocalConfigProvider;

return [
    'di' => [
        'cache' => sys_get_temp_dir(),
        'class' => LocalConfigProvider::class,
    ],
];

